body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
}

/* Makes the grid container on the screen */
#mainContainer {
    display: flex;
    justify-content: center;
}

/* Grid container */
#container {
    display: flex;
    flex-flow: wrap;
    width: 960px;
    height: 960px;
    border: 5px solid black; 
}

/* Each individual grid inside the grid container */
.grid {
    flex-basis: calc(960px / 16); 
    height: auto;
    flex-grow: 1;
    box-sizing: border-box;
    border: 0.25px solid black; 
}
